<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content frost>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">E-Mail</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">
                Log in
            </button>

            <a href="javascript:window.open('http://webplayed.com/register', '_system');">Register</a>
        </div>
    </ion-content>
</ion-view>