<ion-view view-title="Apps">
    <ion-content class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                spinner="crescent"
                pulling-icon="ion-ios-arrow-down"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row"  ng-repeat="apps in appsGrouped">
            <div class="col col-33 app"  ng-repeat="app in apps">
                <div class="content">
                    <a href="#/app/{{ app.namespace }}">
                        <img ng-src="{{ app.icon_path }}">
                        <h2>{{ app.title }}</h2>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
